<div class="container">
    <header>
        <h1>Products Details</h1>
    </header>
    <div class="form-group">
        <input type="text" name="whatever"  class="form-control" (input)="onSearchChange($event.target.value)" placeholder="Search for title..."/>
    </div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Subcategory</th>
            <th scope="col">Title</th>
            <th scope="col">Price </th>
            <th scope="col">Popularity </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productData | search: query: selected | paginate: { itemsPerPage: 50, currentPage: p }">
            <td>{{item.subcategory}}</td>
            <td>{{item.title}}</td>
            <td>{{item.price}}</td>
            <td>{{item.popularity}}</td>
        </tr>
    </tbody>
</table>
<pagination-controls class="page" (pageChange)="p = $event"></pagination-controls>
</div>

