<div class="container">
    <header role="heading">
        <h1>Products Details</h1>
    </header>
    <div class="form-group">
        <input type="search" name="whatever" class="form-control" (input)="onSearchChange($event.target.value)"
            placeholder="Search for title..." />
    </div>
    <table class="table table-striped" role="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Subcategory</th>
                <th scope="col">Title</th>
                <th scope="col">Price </th>
                <th scope="col">Popularity </th>
            </tr>
        </thead>
        <tbody>
            <tr aria-label="product-data"
                *ngFor="let item of productData | search: query: selected | paginate: { itemsPerPage: 50, currentPage: p }">
                <td>{{item.subcategory}}</td>
                <td>{{item.title}}</td>
                <td>{{item.price}}</td>
                <td>{{item.popularity}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="page" (pageChange)="p = $event" role="pageChange"></pagination-controls>
</div>
<ngx-spinner role="ngx-spinner"></ngx-spinner>